.auth {
  background-color: #f0f0f0;
}

.box-register {
  border-radius: 10px;
  width: 680px;
  background-color: white;
  box-shadow: 10px 10px 20px -0px rgba(0, 0, 0, 0.1);
}
.box {
  border-radius: 10px;
  background-color: white;
  box-shadow: 10px 10px 20px -0px rgba(0, 0, 0, 0.1);
}

.link {
  font-weight: bold;
  color: #4d424d !important;
}
